<!--le footer-->
<hr>
<footer class="row" id="container">
    <div class="col-md-6">
        <span class ="font-weight-bold">LEGO WebStore</span><br>
        Maison de la Recherche Blaise Pascal<br> 50 rue Ferdinand Bouison<br> 62228, Calais 
    </div>
    <div class="col-md-6 text-right">
        <img src="/images/logo_lego.jpg" width="80" height="80"><br>WebStore
    </div>
</footer>

