<!--affichage des notifications-->
<% if(locals.status) { %>
  <%if(status == 'inscription_success') { %>
    <div class="alert alert-success"><strong>Inscription réussie</strong> ! Vous pouvez maintenant vous
      <strong><a href="#identifier" data-toggle="modal" data-target="#identifier">connecter.</a></strong></div>
  <% } %>
<% } %>

<h2>Création d'un compte</h2>

<!--Ajouter la barre de progression-->
<div class="progress">
  <div class="progress-bar progress-bar-striped badge-primary" style="width : 0%;" id="progressbar"></div>
</div><br>

<!--Ajouter le formulaire d'inscription-->
<form id="sign" method="post" action="/inscription">
  <div class="row">
    <!--pour le nom & prenom du formulaire-->
    <div class="form-group col-md-6">
      <label for="nom">Nom</label>
      <input name="last" type="nom" class="form-control forme" placeholder="Nom" id="lastname">
    </div>
    <div class="form-group col-md-6">
      <label for="prenom">Prenom</label>
      <input name="first" type="prenom" class="form-control forme" placeholder="Prenom" id="firstname">
    </div>
  </div>

  <!--pour la date de naissance en trois etape-->
  <p>Date de Naissance</p>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <select name="jour" class="form-control form-control forme" id="day">
          <option selected></option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <select name="mois" class="form-control form-control forme" id="month">
          <option selected></option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <select name="annee" class="form-control form-control forme" id="year">
          <option selected></option>
        </select>
      </div>
    </div>
  </div>

  <!--pour l'Adresse mail-->
  <div class="row">
    <div class="form-group col-md-12">
      <label for="adresse mail">Adresse mail</label>
      <input name="mail" type="email" class="form-control forme" placeholder="Adresse mail" id="email">
    </div>
  </div>

  <!--pour le mot de passe-->
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="password">Mot de passe (minimum 6 caractère)</label>
        <input name="passwd" type="password" class="form-control forme" placeholder="Mot de passe" id="password1">
        <!--Ajout de la progresse bar-->
        <div class="progress" style="height: 2px;">
          <div class="progress-bar" id="barre" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><br></div>
        </div>
        <span id="force"></span>
      </div>
    </div>

    <!--pour la comfirmation du mot de passe-->
    <div class="col-md-6">
      <div class="form-group">
        <label for="password"></label>
        <input type="password" class="form-control forme" placeholder="Confirmez le mot de passe" id="password2">
      </div>
    </div>
  </div>

  <!--pour le checkbox-->
  <div class="form-check">
    <input name="valide" class="form-check-input"  type="checkbox"/> Je confirme ces informations
  </div>
  <br>

  <!--pour le button d'inscription -->
  <button type="submit" class="btn btn-primary">Inscription</button>

</form>

<!--inclusion des pages javaScript-->
<script src="/js/datelist.js"></script>
<script src="/js/checker.js"></script>
<script src="/js/feedback.js"></script>
<script src="/js/sign.js"></script>