<header>
    <!--la structuration du menu, l'image et tous sont contenus (debut)-->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/images/logo_lego.jpg" width="35" height="35" alt="Reponsive image"> WebStore
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="/produits">Produits</a>
            </li>
            <!--pour le panier lors de la connexion-->
            <% if (session.firstname) { %>
                <li class="navbar-nav mr-auto">
                    <a class="nav-link" href="/panier">Panier</a>
                </li>
            <% } %>
        </ul>
        <!--le bouton du menu vers la droite-->
        <% if(session.firstname) { %>
            <a href="#" class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="">
                <i class="fas fa-portrait"></i> <%= session.firstname %> </a>
            <a href="/deconnexion" class="btn btn-outline-secondary" type="button"> <i class="fas fa-sign-out-alt"></i></a>
        <% } else { %>
            <a href="#" class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#identifier">
                <i class="fas fa-portrait"></i> Compte
            </a>
        <% } %>       

        <!-- Modal -->
        <div class="modal fade" id="identifier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Compte</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <!-- le formulaire d'identifiant et mot de passe-->
                        <form method="post" action="/connexion">
                            <input name="email" type="text" class="form-control" placeholder="Identifiant ou mail"><br>
                            <input name="passwd" type="password" class="form-control" placeholder="Mot de passe"><br>
                            <button class="btn btn-secondary btn-block" type="submit">Connexion</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="/inscription" class="btn btn-primary btn-block">Inscription</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
