<!--la structuration du menu, l'image et tous sont contenus (debut)-->
<div class="container p-3 p-md-5">
    <div class="row panier">
        <div class="col-lg-6">
            <!--Mon Premier Article-->
            <ul class="list-group">
                <li class="list-group-item liste_group">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/images/produit_newyork_0.jpeg" width="80" height="80" class="img fluid" alt="londre">
                        </div>
                        <!--la description-->
                        <div class="col-sm-5">
                            Lego Architecture
                            <h4> New York City</h4>
                            <h5>Quantité: <span class="Qte">1</span></h5>
                        </div>
                        <!--pour le prix et le button-->
                        <div class="col-sm-4">
                            <h2><span class="prix">49,99</span>€</h2><br>
                            <button class="btn btn-outline-danger btnSup">Supprimer <i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                </li>
            </ul>

            <!--Mon Deuxieme Article-->
            <ul class="list-group ">
                <li class="list-group-item liste_group">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/images/produit_londres_0.jpeg" width="80" height="80" class="img fluid" alt="londre">
                        </div>
                        <!--la description-->
                        <div class="col-sm-5">
                            Lego Architecture
                            <h4>Londres</h4>
                            <h5>Quantité: <span class="Qte">3</span></h5>
                        </div>
                        <!--pour le prix et le button-->
                        <div class="col-sm-4">
                            <h2 ><span class="prix">49,99</span>€</h2><br>
                            <button class="btn btn-outline-danger btnSup">Supprimer <i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                </li>
            </ul>  
        </div>

        <!-- Descriptif du prix du panier -->
        <div class="col-lg-6 align-self-end">
            <h2>Panier</h2>
            <table class="table">
                <tr>
                    <td>Prix du Panier</td>
                    <td> <span id="prix_panier"> </span></td>
                </tr>
                <tr>
                    <td>TVA (15%)</td>
                    <td id="tva"> </td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td id="total_panier"> </td>
                </tr>
            </table>
            
            <!--le button (Acheter) aligné à dorite -->
            <div class="text-right">
                <a href="#" class="btn btn-primary btn-lg">Acheter <i class="fas fa-check"></i></a>
            </div>
        </div>
    </div>
</div>

<!--pour le js-->
<script src="/js/panier.js"></script>