<!--Meta-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!--CSS-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" />
<link rel="stylesheet" href="/css/styles.css"/>
<!--JavaScripts-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!--Développer la fiche produit ici-->
<div class="container p-4" id="container">
    <div class="row">
        <div class="col-md-8">
            <div id="photo" class="col-9"> 
                <img src="<%= prod.img0 %>" alt="bold" class="img-fluid" id="grdImage"  alt="Responsive image">
            </div>
            <div class="row">
                <div class="col-3 minuature">
                    <img src="<%= prod.img0 %>"  alt="bold" class="img-fluid miniature" alt="Responsive image">
                </div>
                <div class="col-3 minuature">
                    <img src="<%= prod.img1 %>"  alt="bold" class="img-fluid miniature" alt="Responsive image">
                </div>
                <div class="col-3 minuature">
                    <img src="<%= prod.img2 %>"  alt="bold" class="img-fluid miniature" alt="Responsive image">
                </div>
                <div class="col-3 minuature">
                    <img src="<%= prod.img3 %>" alt="bold" class="img-fluid miniature" alt="Responsive image">
                </div>
            </div>
        </div>
        <!--le un/quart de ma page-->
        <div class="col-md-4" class="col-6">
            <h4> <%= prod.nom_categories %> </h4>
            <h2> <%= prod.nom_produit%> </h2>
            <hr>
            <h1 class="text-left"> <%= prod.price %> €</h1>
            <div class="alert alert-success text-right">En stock</div>
            <hr>
            <div class="text-right">
                <!--ajout du javascript pour ces boutons-->
                <button type="button" class="btn btn-outline-secondary" id="btnmoin">-</button>
                <button type="button" class="btn btn-dark disabled" id="stock">1</button>
                <button type="button" class="btn btn-outline-secondary" id="btnplus">+</button>
            </div>
            <div class="text-right"> <br>
                <a href="..." class="btn btn-primary">
                Ajouter au panier <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
    <!--Deuxieme ligne da la page-->
    <div class="row">
        <div class="col-md-8" class="col-6">
            <br>
            <h3>Description</h3>
            <div class="text-justify"> <%- prod.description %> </div>
            
            <h4>Spécificités</h4>
            <div class="text-justify"> <%- prod.spec %> </div>
        </div>
    </div>
</div>
    
<!--pour le js/produit-->
<script src="/js/produit.js"></script>