<!-- affichage des notifications -->
<% if (locals.status) { %>
  <% if (status == 'success') { %>
    <div class="alert alert-success">Bonjour<strong> <%= session.firstname %> </strong>! Vous êtes connecté.</div>
  <% }else if(locals.status == 'logout') { %>
    <div class="alert alert-success"><strong>A bientôt</strong> ! Vous êtes deconnecté.</div>
  <% }else { %>
    <div class="alert alert-danger"><strong>Erreur</strong> ! L'identifiant n'existe pas ou mot de passe incorrect.</div>
  <% } %>
<% } %>

<h2>Produits</h2>
<!--Filtres-->
<div class="row">
  <div class="col-lg-3">
    <p class="lead">Recherche</p>
    <input type="text" class="form-control" placeholder="Rechercher un produit"/>
    <hr/>
    <!--categories-->
    <p class="lead">Catégorie</p>
    <% categories.forEach(el => { %>
    <br/><input type="checkbox" id="scales" name="scales">
    <label for="scales"> <%= el.name %> </label>
    <% }); %>
    <hr/>
    <!--prix-->
    <p class="lead">Prix</p>
    <input type="radio" name="prix" value="asc"> Croissant<br/>
    <input type="radio" name="prix" value="desc"> Décroissant<br/>
  </div>

  <!--Liste -->
  <div class="col-lg-9 border-left">
    <div class="card-columns">
      <% products.forEach (el =>{ %>
        <div class="card">
          <img class="card-img-top" src="<%= el.img0 %>" style="padding: 1em" />  
          <div class="card-body">
            <h6 class="card-subtitle text-muted"> <%= el.nom_categories %></h6>
            <h5 class="card-title"><%= el.nom_produit %></h5>
            <p class="font-weight-light float-left" style = "font-size:1.5em"> <%= el.price %> €</p>
            <!--lien vers les fiche de produit-->
            <p class="float-right"> 
              <a href= "/produits/<%=el.id %>" class="btn btn-primary"> <i class="fas fa-shopping-cart"> </i> </a>
            </p>
          </div>
        </div>
      <%});%>
    </div> 
  </div>
</div>

<!--ajout du js-->
<script src="/js/produit.js"></script>
<script src="/javascripts/products_list_search.js"></script>