/* Feuille de styles */
.minuature:hover{
    border-bottom-style: solid;
    border-bottom-color: #007bff; 
    border-bottom-width: 6px; 
}

.minuature img{
    width: 100%;

}

.avatar{
    margin-right: 1em;   
}

.al{
    font-weight: bold;
}

.date{
    font-style: italic;
}

#container{
    font-family: 'Times', sans-serif;
}

