<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- TODO include head -->
    <%- include('partials/head.ejs') %>
    <title>LEGO Webstore - <%= title%></title>
  </head>
  <body>
    <!-- TODO include nav -->
    <%- include('partials/nav.ejs') %>

    <div class="container p-3 p-md-5">
      <!-- TODO delete this alert when it works -->

      <!--<div class="alert alert-success">
        <strong>TODO</strong>: Supprimer ce bloc d'alerte après la
        question 3 s'il s'affiche correctement avec les styles Bootstrap.
      </div>-->

      <!-- TODO include page -->
     <%- include(page)%>

      <!-- TODO include footer -->
      <%- include('partials/footer.ejs') %>
    </div>
  </body>
</html>
