/* Feuille de styles CSS */
body{
    background-color: #eeeeee;
}
#bloc1{
    margin: auto;
    background-color: white;
    width: 600px;
    padding: 32px;
    font-family: 'Times', sans-serif;
    text-align: justify;
}

h1{
    color: black;
    text-align: center;
}

.legos{
    color: #007bff;
    font-style: italic;
}

a{
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

#taille1{
    font-size: 12px;
    text-align: right;
}

table{
    border-collapse: collapse;
    border-width: 3px;

}

.imageLeg{
    text-align: center;
}

